
.Main{
    background-color:#3A3B3C;

    width:20%;
    height:100%;
    padding:20px;
    margin:auto;
    margin-top: 10%;
    box-sizing: border-box;
    font-size: small;
    box-shadow: 4px 4px black;

}  
button{
    background-color:#ffffff;
    width:50px;
    height:50px;
    font-size:15px;
    font-size-adjust: calc();
    border-radius:5px;
    margin:auto;
    padding:25px;
    margin-top: 2px;
    box-shadow: 2px 2px black;/*dis
    flex display: inline-grid;flex box,position-absolute, relative
    align items,justify content, start left end*/

   
}

.buttonoperator{
background-color: lawngreen;
    width:50px;
    height:50px;
    font-size:15px;
    font-size-adjust: calc();
    border-radius:5px; 
    margin:auto;
    padding:25px;
    box-shadow: 2px 2px black;
  
    
}
.key{
   
    width:200px;
    height:40%;
    padding:5%; 
    text-align: end; 
    box-shadow: 2px 2px black;
}
.clr{
    box-shadow: 2px 2px black;
    background-color:rgb(243, 18, 63);
}

button:hover{
    background-color:#40E0D0; 
}
.buttonoperator:hover{
    background-color:#40E0D0;
}
.equal{
   width:115px; 
   background-color:darkorange;
}